/* CSS Document */
@font-face {
    font-family: "Lobster";
    src: url("../font/lobster_1.3_regular.eot");
    src: url("../font/lobster_1.3_regular.ttf") format("truetype"),
		 url("../font/lobster_1.3_regular.svg"),
		 url("../font/lobster_1.3_regular.woff");
		 }

body {
	font-family: Consolas;	
	background: #D3E8F6;
	width: 100%;
	height: 100%;
    position: fixed;
    margin: 0px;
}

html,
body,
#wrapper,
#webGLContainer,
#foreground,
canvas{
	overflow-y: hidden;
	overflow-x: hidden;
}

.errorHtml{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
	left: 0;
	top: 0;
}

.errorText{
	color: #42210b;
	font-family: "Lobster";
	font-size: 28px;
	margin: 0 auto;
	padding-top: 200px;
	text-align: center;
}



.tablet_navi{
	display: none;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
}


h1 {
	color: #818181;
}

a{
	text-decoration: none;
	color: #fff;
}

#webGLContainer, canvas {
	width: 100%;
	height: 100%;	
	z-index: 100;
	position: absolute;
}

.logout {
	width: 200px;
	height: 86px;
	text-align: center;
	line-height: 86px;
	color:#42210b;
	font-family: "Lobster";
	font-size: 40px;
	position: absolute;
	top: -100%;
	background: url(../img/logout.jpg);
	background-size: 100%;
	right: 0;
	cursor: pointer;
	
	-o-transition:top 0.5s;
    -ms-transition:top 0.5s;
    -moz-transition:top 0.5s;
    -webkit-transition:top 0.5s;

    transition:top 0.5s;
}

.logout.open{
	top: 0;
	
	-o-transition:top 0.5s;
    -ms-transition:top 0.5s;
    -moz-transition:top 0.5s;
    -webkit-transition:top 0.5s;

    transition:top 0.5s;
}

.login{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999;
	
	width: 100%;
	height: 100%;
	
	display: none;
	opacity: 0;
	
	-o-transition:opacity 1.8s;
    -ms-transition:opacity 1.8s;
    -moz-transition:opacity 1.8s;
    -webkit-transition:opacity 1.8s;

    transition:opacity 1.8s;
}

.login.open{
	display: block;
	opacity: 1;
	
	-o-transition:opacity 1.8s;
    -ms-transition:opacity 1.8s;
    -moz-transition:opacity 1.8s;
    -webkit-transition:opacity 1.8s;

    transition:opacity 1.8s;
}

.form_explanation{
	position: absolute;
	width: 50%;
	text-align: center;
	left: 25%;
	top: 5%;
	font-size: 22px;
	padding: 30px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.login form{
	width: 593px;
	height: 714px;
	bottom: 0;
	position: absolute;
	left: 25%;
	margin: 10% auto 0px;
	padding: 30px;
	background: url(../img/login.png);
	background-size: 100%;
	
}

.login input{
	width: 479px; 
	height: 70px;
	position: absolute;
	font-family: "Lobster";
	font-size: 50px;
	background: none;
	border: none;
	padding-left: 10px;
	color:  #42210b;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #42210b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #42210b;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #42210b;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #42210b;
}
.login #username{
	top: 129px;
	left: 87px;
	
}

.login #password{
	top: 258px;
	left: 62px;
}

.login button {
	position: absolute;
	top: 421px;
	left: 192px;
	width: 265px;
	background: none;
	border: none;
	color:  #42210b;
	font-family: "Lobster";
	font-size: 45px;
	cursor: pointer;
	
	-o-transition:color .2s ease-in;
	-ms-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-webkit-transition:color .2s ease-in;
	
	transition:color .2s ease-in;
}

.login button:hover{
	color: #8b6138;
	
	-o-transition:color .2s ease-in;
	-ms-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-webkit-transition:color .2s ease-in;
	
	transition:color .2s ease-in;
}

#left{
    z-index: 200;
    top: 0;
    left: -640px;
    position: absolute;
    height: 100%;

    -o-transition:left .4s;
    -ms-transition:left .4s;
    -moz-transition:left .4s;
    -webkit-transition:left .4s;

    transition:left .4s;
}

#left.open{
    left: 0px;

    -o-transition:left .4s;
    -ms-transition:left .4s;
    -moz-transition:left .4s;
    -webkit-transition:left .4s;

    transition:left .4s;
}

.ingame_owl{
	width: 459px;
	height: 410px;
	background: url(../img/eule_left.png);
	background-size: 100%;
}

.leftMenu{
    height: 100%;
    position: absolute;
    right: 4px;
    padding: 0px;
    margin: 0px;
}

.leftMenu li{
	font-family: "Lobster";
	height: 75px;
	width: 316px;
	text-align: center;
	line-height: 75px;
	background: url(../img/menu4.png);
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 40px;
	color: #42210b;
    cursor: pointer;
	list-style: none;
    margin-top: 5px;

	-o-transition:color .2s ease-in;
	-ms-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-webkit-transition:color .2s ease-in;
	
	transition:color .2s ease-in;
}

#left li:hover{
    color: #8b6138;

    -o-transition:color .2s ease-in;
    -ms-transition:color .2s ease-in;
    -moz-transition:color .2s ease-in;
    -webkit-transition:color .2s ease-in;

    transition:color .2s ease-in;
}


#foreground{
	background: rgba(63,63,63, 0.75);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	
}


#foreground .inside{
	width: 60%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.mainMenu {
	position: relative;	
	padding-left: 15% !important;
}

.rope{
	width: 465px;
	height: 225px;
	background: url(../img/leine.png);
	background-repeat: no-repeat;
	background-size: 100% !important;
	margin-left: 195px;
}

.menu_owl{
    width: 239px;
    height: 248px;
    position: absolute;
    top: 215px;
    left: 0;
    background: url(../img/menu_eule.png);
    background-size: 100%;
	margin-left: 15%;
}

.menu{
	list-style: none;
	padding-left: 195px;
	margin-top: 0px;
}

.menu li{
	font-family: "Lobster";
	width: 465px;
	height: 114px;
	background: url(../img/menu_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	/*border-radius: 80px;
	border: 5px solid #fff;*/
	text-align: center;
	font-size: 60px;
	line-height: 120px;
	margin-top: 5px;
	color: #42210b;
	cursor: pointer;
	
	-o-transition:color .2s ease-in;
	-ms-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-webkit-transition:color .2s ease-in;
	
	transition:color .2s ease-in;
}

.menu li.start{
	margin-top: 0px !important;
}

.menu li:hover{
	color: #8b6138;
	
	-o-transition:color .2s ease-in;
	-ms-transition:color .2s ease-in;
	-moz-transition:color .2s ease-in;
	-webkit-transition:color .2s ease-in;
	
	transition:color .2s ease-in;
}

.tutorialGUI {
	width: 800px;
	height: 600px;
}

.tutorialGUI {
	position: absolute;
	z-index: 9999;
	top: -100%;
	left: 32%;
	
	-o-transition:top .8s;
    -ms-transition:top .8s;
    -moz-transition:top .8s;
    -webkit-transition:top .8s;

    transition:top .8s;
}

.tutorialGUI.open {
	top: 25%;
	-o-transition:top .8s;
    -ms-transition:top .8s;
    -moz-transition:top .8s;
    -webkit-transition:top .8s;

    transition:top .8s;	
}

.highscoreContainer{
	z-index: 9999;
	position: absolute;
	width: 920px;
	left: 33%;
	top: -100%;
	
	-o-transition:top .8s;
    -ms-transition:top .8s;
    -moz-transition:top .8s;
    -webkit-transition:top .8s;

    transition:top .8s;	
}

.highscoreContainer.open{
	top: 25%;
	
	-o-transition:top .8s;
    -ms-transition:top .8s;
    -moz-transition:top .8s;
    -webkit-transition:top .8s;

    transition:top .8s;	
}

.highscoreDiv{
	float: left;
	width: 450px;
	height: 109px;
	background: url(../img/menu_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 5px;
	line-height: 55px;
	font-size: 40px;
	font-family: "Lobster";
	color:  #42210b;
	text-align: center;
}

.highscoreDiv:nth-child(1),
.highscoreDiv:nth-child(2){
	margin-top: 0px;
}

.highscoreDiv:nth-child(even){
	margin-left: 20px !important;
}

.difficultySelection{
	width: 52%;	
	left: 40%;
	z-index: 9999;
	
	width: 578px;
	height: 702px;
	background: url(../img/levelwahl.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	
	bottom: -100%;
	
	-o-transition:bottom .8s;
    -ms-transition:bottom .8s;
    -moz-transition:bottom .8s;
    -webkit-transition:bottom .8s;

    transition:bottom .8s;	
}

.difficultySelection.open{
	bottom: 0;
	
	-o-transition:bottom .8s;
    -ms-transition:bottom .8s;
    -moz-transition:bottom .8s;
    -webkit-transition:bottom .8s;

    transition:bottom .8s;	
}

.difficultySelection .easy,
.difficultySelection .middle,
.difficultySelection .hard{
	position: absolute;
	width: 348px;
	height: 82px;
	background-size: 100% !important;
	background-repeat: no-repeat;
	
	line-height: 82px;
	font-family: "Lobster";
	font-size: 40px;
	color: #42210b;
	cursor: pointer;
}

.difficultySelection .easy {
	background: url(../img/easy.png);
	left: -23%;
	top: 25.5%;
	
	-moz-transform:rotate(-14deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform:rotate(-14deg); /* Safari */
	-o-transform:rotate(-14deg); /* Opera */
	-ms-transform:rotate(-14deg); /* IE9 */
	transform:rotate(-14deg); /* W3C */
}

.difficultySelection .easy span{
	padding-left: 188px;
}

.difficultySelection .middle{
	background: url(../img/middle.png);
	left: 22%;
	top: 7%;
	text-align: center;
}

.difficultySelection .hard{
	background: url(../img/hard.png);
	top: 33%;
	right: -28.8%;
	
	-moz-transform:rotate(20deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform:rotate(20deg); /* Safari */
	-o-transform:rotate(20deg); /* Opera */
	-ms-transform:rotate(20deg); /* IE9 */
	transform:rotate(20deg); /* W3C */
}

.difficultySelection .hard span {
	padding-left: 68px;
}


.allLevels{
	width: 52%;	
	left: 40%;
	z-index: 9999;
	
	background: url(../img/levelSelection.png);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 	593px;
	height: 714px;
	
	position: absolute;
	bottom: -100%;
	
	-o-transition:bottom .8s;
    -ms-transition:bottom .8s;
    -moz-transition:bottom .8s;
    -webkit-transition:bottom .8s;

    transition:bottom .8s;	
}

.allLevels.open{
	bottom: 0;
	
	-o-transition:bottom .8s;
    -ms-transition:bottom .8s;
    -moz-transition:bottom .8s;
    -webkit-transition:bottom .8s;

    transition:bottom .8s;
}

.levelSelection .chooseLevel{
	font-family: "Lobster";
	text-align: center;
	font-size: 80px;
	color: #42210b;
	cursor: pointer;
	width: 106px; 
	position: absolute;
	z-index: 9999;
}

.levelSelection .chooseLevel.first{
	left: 84px;
	top: 219px;
}
.levelSelection .chooseLevel.second{
	right: 80px;
	top: 227px;
}
.levelSelection .chooseLevel.third{
	left: 243px;
	top: 272px;
}
.levelSelection .chooseLevel.fourth{
	left: 105px;
	top: 359px;
}
.levelSelection .chooseLevel.fifth{
	right: 120px;
	top: 359px;
}



/*Wolken*/
.wolken {
	height:800px;
	margin:0 auto;
	z-index: 1;
}

.wolkenHG {
	float:left;
	position:absolute;
	top:100px;
	left:0;
	z-index:1;
}

.wolkenMitte {
	float:left;
	position:absolute;
	top:10px;
	left:0;
	z-index:2;
}

.wolkenVG {
	float:left;
	position:absolute;
	top:150px;
	left:0px;
	z-index:3;
}

.animationHG {
	-moz-animation:changePosition;
	-moz-animation-duration:90s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-timing-function:linear;
	
	-webkit-animation:changePosition;
	-webkit-animation-duration:90s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:linear;
	
	-ms-animation:changePosition;
	-ms-animation-duration:90s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:alternate;
	-ms-animation-timing-function:linear;
	
	-o-animation:changePosition;
	-o-animation-duration:90s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:alternate;
	-o-animation-timing-function:linear;
	
	animation:changePosition;
	animation-duration:90s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:linear;
}

.animationMitte {
	-moz-animation:changePosition;
	-moz-animation-duration:60s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-timing-function:linear;
	
	-webkit-animation:changePosition;
	-webkit-animation-duration:60s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:linear;
	
	-ms-animation:changePosition;
	-ms-animation-duration:60s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:alternate;
	-ms-animation-timing-function:linear;
	
	-o-animation:changePosition;
	-o-animation-duration:60s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:alternate;
	-o-animation-timing-function:linear;
	
	animation:changePosition;
	animation-duration:60s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:linear;
}

.animationVG {
	-moz-animation:changePosition;
	-moz-animation-duration:30s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-timing-function:linear;
	
	-webkit-animation:changePosition;
	-webkit-animation-duration:30s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:linear;
	
	-ms-animation:changePosition;
	-ms-animation-duration:30s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:alternate;
	-ms-animation-timing-function:linear;
	
	-o-animation:changePosition;
	-o-animation-duration:30s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:alternate;
	-o-animation-timing-function:linear;
	
	animation:changePosition;
	animation-duration:30s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:linear;
}

@-webkit-keyframes changePosition {
    0%   {left:0;}
    100% {left:1280px}
} 

@-moz-keyframes changePosition {
    0%   {left:0;}
    100% {left:1280px}
}

@-ms-keyframes changePosition {
    0%   {left:0;}
    100% {left:1280px}
}

@-o-keyframes changePosition {
    0%   {left:0;}
    100% {left:1280px}
}

@keyframes changePosition {
    0%   {left:0;}
    100% {left:1280px}
}


@media only screen and (min-width: 770px){
	tablet_navi{
		display: none;
	}
}

@media only screen and (max-width: 769px){
	.menu li{
		width: 325px;
		height: 80px;
		font-size: 50px;
		line-height: 80px;
	}

	.menu{
		padding-left: 97px;
	}
	
	.mainMenu{
		padding-left: 0% !important;
	}
	
	.menu_owl{
		width: 190px;
		height: 200px;
		top: 128px;
		left: -58px;
		margin-left: 0 !important;
	}
	
	.rope {
		width: 322px;
		height: 156px;
		margin-left: 99px;
		
	}
	
	.logout {
		width: 135px;
		height: 59px;
		line-height: 59px;
		font-size: 30px;
	}
	
	.login form {
		width: 100%;
		height:560px;
		left: 0px;	
	}
	
	.login input{
		width: 380px;
		height: 56px;
		font-size: 45px;
	}
	
	.login button {
		top: 333px;
		left: 130px;
		font-size: 40px;
	}
	
	.login #username{
		top: 104px;
		left: 69px;
	}
	
	.login #password{
		top: 207px;
		left: 49px;
	}	
	
	.form_explanation{
		width: 70%;
		top: 10%;
		left: 12%;
		font-size: 24px;
	}
	
	#left{
		display: none;
	}
	
	
	.difficultySelection{
		left: 15%;
		width:508px;
		height: 617px;
	}
	
	.difficultySelection .easy, 
	.difficultySelection .middle, 
	.difficultySelection .hard{
		width: 300px;
		height: 71px;
		background-size: 100%;
		line-height: 71px;
		font-size: 35px;
	}
	
	.difficultySelection .easy{
		left: -22%;
		top: 27.2%;	
	}
	
	.difficultySelection .easy span{
		padding-left: 160px;
	}
	
	.difficultySelection .middle{
		top: 8%;
	}
	.difficultySelection .hard{
		top: 35%;
		right: -27.8%;
	}
	.difficultySelection .hard span {
		padding-left: 60px;
	}
	
	.allLevels{
		left: 15%;
	}
	
	.allLEvels.open{
		bottom: -4px;
	}
	
	.tutorialGUI{
		width: 600px;
		height: 400px;
		left: 11%;
	}
	
	.highscoreContainer {
		left: 2% !important;
		width: 715px	
	}
	
	.highscoreDiv {
    width: 347px;
    height: 85px;
    line-height: 43px;
    font-size: 35px;
	}
	
	.tablet_navi {
		display: block;
		padding: 0px;
		margin: 0px;
		position: absolute;
		top: -100%;
		z-index: 9999;
		
		-o-transition:top .6s ease-in;
		-ms-transition:top .6s ease-in;
		-moz-transition:top .6s ease-in;
		-webkit-transition:top .6s ease-in;
		
		transition:top .6s ease-in;
	}
	
	.tablet_navi.open {
		top: 0;
		
		-o-transition:top .6s ease-in;
		-ms-transition:top .6s ease-in;
		-moz-transition:top .6s ease-in;
		-webkit-transition:top .6s ease-in;
		
		transition:top .6s ease-in;
	}
	
	.tablet_navi.open li{
		float: left;
		width: 256px;
		background: url(../img/menu_bg.png);
		height: 63px;
		list-style: none;
		margin-top: 0px !important;
		
		font-family: "Lobster";
		text-align: center;
		line-height: 63px;
		background-repeat: no-repeat;
		background-size: 100%;
		font-size: 40px;
		color: #42210b;
		cursor: pointer;
		margin-top: 5px;
	
		-o-transition:color .2s ease-in;
		-ms-transition:color .2s ease-in;
		-moz-transition:color .2s ease-in;
		-webkit-transition:color .2s ease-in;
		
		transition:color .2s ease-in;
	}
	
	.tablet_navi.open li:hover{
		color: #8b6138;

		-o-transition:color .2s ease-in;
		-ms-transition:color .2s ease-in;
		-moz-transition:color .2s ease-in;
		-webkit-transition:color .2s ease-in;
	
		transition:color .2s ease-in;
	}
	
}


@media only screen and (max-width: 1440px){
	.ingame_owl{
		width: 350px;
		height: 301px;
	}
	
	.leftMenu li{
		width: 239px;
		height: 57px;
		line-height: 56px;
	}
	
	.tutorialGUI{
		width: 600px;
		height: 400px;
	}
	
	.highscoreContainer{
		left: 25%;
	}
	
	.login form{
		width: 500px;
		height: 621px;
		left: 18%;
	}
	
	.login #username {
		top: 111px;
		left: 76px;
	}
	
	.login #password {
		top: 223px;
		left: 52px;
	}
	.login button {
		top: 358px;
		left: 150px;
	}
	.login input {
		width: 409px;
		height: 61px;
		font-size: 40px;	
	}
}


@media only screen and (min-width: 1101px) and (max-width: 1440px) {
	#left.open{
		left: -50px !important;
	}
	
	
}

@media only screen and (min-width: 770px) and (max-width: 1100px) {
	#left.open{
		left: -100px !important;
	}

	.allLevels{
		left: 28%;
	}
	
	.highscoreDiv {
		width:271px;
		height: 67px;
		line-height: 33px;
		font-size: 28px;	
	}
	
	.highscoreContainer {
		left: 32%;	
		width: 600px;
	}
	
}

@media only screen and (min-width: 769px) and (max-width: 1220px){
	.difficultySelection{
		width: 450px;
		height: 547px;
		
	}
	
	.difficultySelection .easy, 
	.difficultySelection .middle, 
	.difficultySelection .hard {
		width: 310px;
		height: 74px;
		line-height: 74px;
	}
	
	.difficultySelection .easy{
		left: -29%;
		top: 26%;
	}
	
	.difficultySelection .easy span{
		padding-left: 168px;
	}

	.difficultySelection .middle {
		left: 18%;
	}
	
	.difficultySelection .hard {
		right: -33.8%;
	}
	
	.menu_owl{
		margin-left: 0!important;
	}
	
	.mainMenu{
		padding-left: 0 !important;
	}
	
	
}

@media only screen and (min-width: 1100px) and (max-width: 1220px){
	.tutorialGUI{
		width: 700px;
		height: 500px;
	}
	
	.highscoreDiv {
		width: 400px;
		height: 98px;
		line-height: 48px;
		font-size: 35px;	
	}
	
	
}
